@import url(reset.css);

.main{
    margin: 0 auto;
    /* width: 100vw; */
    height: 100vh;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.main-nav{
    margin: auto;
    width: 1366px;
    height: 58px;
    background-color: black;
    opacity: 0.2;
}

.main-nav-left{
    opacity: 1;
}

.main-nav-right{
    opacity: 1;

}